//主色
$color-primary: #f67a17;

$color-light: #3c9bf3;
//背景色
$body-bg-color: #f0f4f5;

//左侧菜单文字色
$lmenu-color: #333333;

//头部 logo+菜单+pathNav 总高度
$header-height: .7rem;
//左侧菜单宽度
$left-menu-width: 2rem;
//左右边距
$horizon-padding: .2rem;

$color-icon: #6699FF;

$color-down: #fff6ec;

$color-success: #57C269;

$color-error: #D20003;

$color-hover: #f6f3ee;

$color-delete: #f32525;

//绿色
$light-blue: #2ac5ea;

//边框颜色
$gray-border-color: #e7e7e7;

$light-border-color: #dddddd;

$gray-bg-color: #f7f7f7;

//通讯属性边框颜色
$address-boder-color: #bfbfbf;

//标签背景色
$tag-bg: #fef4e8;
$tag-bd-color: #f7c8a2;
$tag-bg-color: #f5f5f5;

$table-row-color: #fef4ec;

//背景
$color-bg-white: #ffffff;

//树菜单操作按钮
$color-bg-operate: #269ef7;

$mainBg: #3399ff;
$btn: #56ACEA;

$font-size: 14px;

//通讯录左侧菜单背景
$addressBook-left-menu: #f6f4f5;

//table样式
$table-head-color: #f6f5f5;
$tbody-boder-color: #eaeaea;


//wrong
$wrong-bg-color:#f9b82b;
$wrong-color:#616161;

